<link rel="stylesheet" href="./css/login.css">

<div class="col-md-6 col-lg-6 col-sm-12 col-12  m-auto p-0  login-box">


  <div class="wrapper fadeInDown p-0">
    <div id="formContent">
      <!-- Tabs Titles -->

      <!-- Icon -->
      <div class="form-header">
        <h2>Login</h2>
      </div>

      <!-- Login Form -->
        <input type="text" id="email" class="fadeIn second" name="login" placeholder="email">
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="password">
        <input type="submit" class="fadeIn fourth" value="Log In">

      <!-- Remind Passowrd -->
      <div id="formFooter">
        <a class="underlineHover" href="#">Forgot Password?</a>
        <a class="underlineHover" href="/register"> New User? Register </a>

      </div>

    </div>
  </div>

</div>

<script src="js/login.js"></script>