{{!-- Navbar --}}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">PROJECT X</a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    style="color: white;"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon" style="color: white;"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <div class="center-buttons">
        <li class="nav-item">
          <a class="nav-link" href="#"
            >ADD <span class="sr-only">(current)</span></a
          >
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#"
            >History <span class="sr-only">(current)</span></a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"
            >Billing <span class="sr-only">(current)</span></a
          >
        </li>
      </div>

      <li
        class="nav-item"
        id="confirm-logout"
        data-toggle="modal"
        data-target="#logout-modal"
      >
        <button class="">Logout</button>
      </li>
    </ul>
  </div>
</nav>

{{!-- /Navbar --}} {{!-- Reminders --}}
<div class="container-fluid">
  <div class="reminder-container">
    <div class="row h-100">
      <div class="col col-lg-12 col-md-12 col-sm-12 reminder h-100">
        <div class="reminder-props name">Harsh Rai</div>
        <div class="reminder-props medicine">Crocin , Cefolac , Rantac</div>
        <div class="reminder-props interval">10 Days</div>
        <div class="reminder-props channel">SMS</div>
        <div class="reminder-props status">Active</div>

        <div class="reminder-props edit-btn">
          <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
        </div>
      </div>
    </div>
  </div>
</div>
{{!-- /Reminders --}}

<div class="reminder-form-wrapper">
  <div class="reminder-form">
    <div class="row">
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="common-input">
          <input
            type="text"
            class="form-control"
            id="form-name"
            placeholder="Jane Doe"
            tabindex="1"
            required
          />
          <label for="name" class="form-label">Receiver</label>
        </div>
      </div>
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="common-input">
          <input
            type="text"
            class="form-control"
            id="form-phone"
            placeholder="Jane Doe"
            tabindex="1"
            required
          />
          <label for="name" class="form-label">Phone No</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="common-input">
          <input
            type="text"
            class="form-control"
            id="form-medicine"
            placeholder="Jane Doe"
            tabindex="1"
            required
          />
          <label for="name" class="form-label">Medicine</label>
        </div>
      </div>
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="common-input">
          <input
            type="text"
            class="form-control"
            id="form-address"
            placeholder="Jane Doe"
            tabindex="1"
            required
          />
          <label for="name" class="form-label">Address</label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <div class="common-input">
          <input
            type="text"
            class="form-control"
            id="form-interval"
            placeholder="Jane Doe"
            tabindex="1"
            required
          />
          <label for="name" class="form-label">interval (days)</label>
        </div>
      </div>
      <div class="col-col-lg-6 col-md-6 col-sm-12 col-12">
        <select class="select form-control">
          <option>WhatsApp</option>
          <option>SMS</option>
          <option>Email</option>
          <option>Self</option>

          <option selected>Mode</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-col-12">
        <div class="state-selector">
          <span style="padding: 10px;">Active</span>
          <label class="switch">
            <input type="checkbox" checked />
            <span class="slider round"></span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div
  class="modal fade"
  id="logout-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="border: none;">
        <h5 class="modal-title" id="exampleModalLabel">Confirm</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure you want to logout?
      </div>
      <div class="modal-footer" style="border: none;">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cancel
        </button>

        <form action="/users/logout" method="POST">
          <button
            type="submit"
            class="btn btn-primary"
            style="background-color: rgb(52, 198, 235);"
          >
            Logout
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

<script src="js/dashboard.js"></script>
<link rel="stylesheet" href="css/dashboard.css" />
